body{
    background-image: url(images/hero.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* ==================================Menu Section Starts======================================= */

.nav{
    display: flex;
    justify-content: space-between;

}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 5%;
    
    
}
.menu a{
    text-decoration: none;
    color: white;
}

.menu li{
    padding-right: 40px;
    font-size: 25px;
    font-weight: 600;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    margin-left: 5%;
    width: 10px;
    height: 50px;
    align-items: center;
}

.navH{
    margin-left: 15px;
    color: white;
    font-size: 22px;
}
/* ==================================Menu Section End======================================= */


/* ==================================Hero Info Section Starts=============================== */
#hero-info{
    margin: auto;
    width: 60%;
    /* border: 3px solid #73AD21; */
    padding: 10px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
    background-color: rgba(137, 43, 226, 0.082);
    border-radius: 20px;
}
.info1{
    font-size: 27px;
    font-weight: bolder;
    color: #b1b1b1;
}
.info2{
    font-size: 150px;
    margin-top: -35px;
    font-weight: 900;
    color: white;
}
/* ==================================Hero Info Section Ends=============================== */

/* ==================================Hero Bottom Section Starts===========================*/
#main{
    display: flex;
}

.locateDiv{
    width: 20%;
}

.div1{
    /* border: 2px solid #73AD21; */
    margin: auto;
    padding-left: 30px;
    border-radius: 10px;
    background-color: #c4c4c44d;

}
.div1 img{
    padding-right: 25px;
}
.div2{
    
    margin: auto;
    padding-left: 30px;
    border-radius: 10px;
    background-color: #c4c4c44d;
}
.div2 img{
    padding-right: 25px;
}
.div3{
    
    margin: auto;
    padding-left: 30px;
    border-radius: 10px;
    background-color: #c4c4c44d;
}
.div3 img{
    padding-right: 25px;
}

.mapInfo{
    margin-top: -10px;
}
.mapDiv{
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
}
/* ==================================Hero Bottom Section Ends===========================*/
