body{
margin: 0;
padding: 0;
}
/* ==================================Menu Section Starts======================================= */
.header{
    background-image: url(images/hero.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-bottom: 10px;
}
.nav{
    display: flex;
    justify-content: space-between;

}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 5%;
    
    
}
.menu a{
    text-decoration: none;
    color: white;
}

.menu li{
    padding-right: 40px;
    font-size: 25px;
    font-weight: 600;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    margin-left: 5%;
    width: 10px;
    height: 50px;
    align-items: center;
}

.navH{
    margin-left: 15px;
    color: white;
    font-size: 22px;
}
/* ==================================Menu Section End======================================= */


/* ==================================Hero Info Section Starts=============================== */
#hero-info{
    margin: auto;
    width: 60%;
    /* border: 3px solid #73AD21; */
    padding: 10px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
    background-color: rgba(137, 43, 226, 0.082);
    border-radius: 20px;
}
.info1{
    font-size: 27px;
    font-weight: bolder;
    color: #b1b1b1;
}
.info2{
    font-size: 150px;
    margin-top: -35px;
    font-weight: 900;
    color: white;
}
/* ==================================Hero Info Section Ends=============================== */

/* ==================================Hero Bottom Section Starts===========================*/
#main{
    display: flex;
    padding-bottom: 40px;
}

.locateDiv{
    width: 20%;
}

.div1{
    /* border: 2px solid #73AD21; */
    margin: auto;
    padding-left: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    
}
.div1 img{
    padding-right: 25px;
}
.div2{
    
    margin: auto;
    padding-left: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}
.div2 img{
    padding-right: 25px;
}
.div3{
    
    margin: auto;
    padding-left: 30px;
    border-radius: 10px;
    background-color: #c4c4c44d;
}
.div3 img{
    padding-right: 25px;
}

.mapInfo{
    margin-top: -10px;
}
.mapDiv{
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
}
/* ==================================Hero Bottom Section Ends===========================*/

/*=================================Activities For Everyone Section Starts================================*/

.hundred-div h4{
    font-size: 17px;
    text-align: center;
    padding-top: 20px;
}
.hundred-div h1{
    font-size: 45px;
    text-align: center;
    margin: -10px 0 40px 0 ;
}
#all-images{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.img{
    width: 255px;
    height: auto;
    margin-left: 30px;
    border: 4px solid rgb(130, 221, 145);
    border-radius: 10px;
}
/*=================================Activities For Everyone Section Ends================================*/

/* ===============================Our Philosophy Section Starts */
.third-title{
    margin-bottom: 30px;
}

.third-title h4{
    font-size: 17px;
    text-align: center;
    padding-top: 20px;
}

.third-title h1{
    font-size: 45px;
    text-align: center;
    margin: -10px 0 40px 0 ;
}

.info-img{
    width: 675px;
    height: 445px;
    margin-right: 20px;
}
#info-container{
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.info{
    display: flex;

    margin-left: 40px;
    margin-bottom: 20px;
    border: 3px solid green;
    border-radius: 10px;
    /* width: 40%; */

}
.informations{
    width: 500px;
}
.info-sl{
    margin-right: 10px;
    padding: 0 30px 0 10px;

}
/* ===============================Our Philosophy Section Ends=========================================*/



/* ====================================Hotels and Apartments Starts==================================*/
#main-three-countries{
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}
.c-title-star{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.five-star{
    color: #FF9921;
}
.price > h3{
    margin-top: -10px;
    font-weight: 900;
    

}

/* ====================================Hotels and Apartments Ends==================================*/