body{
    background-image: url(images/hero.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* ==================================Menu Section Starts======================================= */

.nav{
    display: flex;
    justify-content: space-between;

}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 5%;
    
    
}
.menu a{
    text-decoration: none;
    color: white;
}

.menu li{
    padding-right: 40px;
    font-size: 25px;
    font-weight: 600;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    margin-left: 5%;
}

.navH{
    margin-left: 15px;
    color: white;
    font-size: 22px;
}
/* ==================================Menu Section End======================================= */



#hero-info{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}
.info1{
    font-size: 27px;
    font-weight: bolder;
    color: #b1b1b1;
}
.info2{
    font-size: 150px;
    margin-top: -35px;
    font-weight: 900;
    color: white;
}